.auth {
  &-background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*
  @media screen and (max-width: 1023px) {
    display: none;
  }
  */
  }

  &-form {
    padding: 3rem;

    &-error-alert {
      margin: 1rem 0;
    }
  }
}

.sign-up-text {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 3rem;
  top: 2rem;
}

.sign-in-logo {
  height: 3rem;
  margin-bottom: 4.5rem;
}